html {
    font-family: "outfit", sans-serif;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #E8E7F3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.panel {
    background-color: #ffffff;
    border-radius: 18px;
    padding: 20px 20px;
    width: 100%;
    max-width: 275px;
    max-height: 450px;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 20px;

}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: 15px 0px 25px 0px;
}

img {
    margin-bottom: 10px;
    width: 75%;
    max-width: 65%;
    border-radius: 5%;
}

.attribution {
    display: bl;
    color: #000000;
    font-size: 13px;
    text-align: center;
    padding: 25px 0px;
}